streamlit==1.33.0
pandas
numpy
watchdog
scikit-learn
plotly
chromadb>=0.4.24
sentence-transformers
faiss-cpu
python-dotenv
openai
gspread
google-auth
scipy

--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
torchaudio
pandas
